body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.span {
  margin-left: 40%;
  font-size: 20px;
  @media (max-width: 380px) {
    margin-left: 20%;
  }
}

.titles {
  font-weight: 600;
}

.contenedor-grid {
  padding: 40px;
  @media (max-width: 680px) {
    padding: 10px;
  }
}

/* carrito de compras */

.carrito {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  border: 1px solid black;
}

.list-group {
  width: 30%;
  margin-top: 5%;
  border: 1px solid black;
}

.contenedor-pagar {
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  text-align: center;
}

.table-history {
  margin: 3%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-for-pay {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
